.vscode/**
.vscode-test/**
src/**
.gitignore
tsconfig.json
**/*.ts
**/*.map
node_modules/.package-lock.json
node_modules/**/README.md
node_modules/**/CHANGELOG.md
node_modules/**/LICENSE
node_modules/**/*.d.ts
node_modules/**/*.map
